<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">

  <ul>
      <button mat-flat-button (click)="drawer.toggle()">

          <mat-icon>arrow_back_ios</mat-icon>
        </button>
  <button mat-flat-button>
      My story so far
    </button>
    <button mat-flat-button>
      Projects I have worked on
    </button>
  </ul>
  </mat-drawer>
  <mat-drawer-content>
      <button class="menu-btn" mat-raised-button (click)="drawer.toggle()">
          <mat-icon >menu</mat-icon>  
        </button>
      <img src="../assets/images/cover.JPG" width="100%" height="850px">
      <h3>Hey, I'm</h3>
      <h2>Norman Yan</h2>

  </mat-drawer-content>
</mat-drawer-container>


