::ng-deep app-thoughts{
    #thoughts{
        padding-top:40px;
        padding-bottom:40px;
        min-height:100vh;
        background-color: white;
        @media (orientation: portrait) {
          width:100%;
          min-height:100vh;
              }
              .title{
                display: flex;
                padding-top:20px;
                padding-bottom:20px;
                justify-content: center;
                align-content: center;

                .titleContent{
                  font-family:arial;
                  font-size:200%;
                  font-weight:500;
                  display: block;
                  text-align: center;
                }
                
              }
              .title::before{
                background:black;
                left:-20px;
                display: inline-block;
                height:2px;
                position: relative;
                top:20px;
                width:80px;
                content:" ";
                zoom:1;
                
              }
              .title::after{
                background:black;
                right:-20px;
                display: inline-block;
                height:2px;
                position: relative;
                top:20px;
                width:80px;
                content:" ";
                zoom:1;
              }
              .writings{
                .mat-grid-list{
                  .mat-grid-tile{
                    .mat-figure{
                      .mat-card{
                        padding:0px;
                        padding-top:10px;
                        height:90%;
                        width:99%;

                        .mat-card-header{
                          .mat-card-header-text{
                            .mat-card-title{
                              font-size: 18px;
                          }
                        }
                        }

                      }
                      mat-card img{
                        object-fit: cover; /*this makes de image in src fit to the size of specified below*/
                        width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
                        height: 75%;
                        margin:0px;
                      }
                    }
                  }
                }
              }
            }
        }