.list-group-item{
    border:none;
    margin:1px;
  
  .botMessage {
      font-size: 1em;
      font-style: italic;
      font-weight: 400;
      display: inline-block;
      background-color:#F4F3F0;
      padding:.8em;
      border-radius: 0.8em;
    }
    .userMessage {
      font-size: 1em;
      font-style: italic;
      font-weight: 400;
      display: inline-block;
      background-color:green;
      color: white;
      padding:.8em;
      border-radius: 0.8em;
      float:right;
    }
  
    .botTimeform {
      text-align: left;
      width: 100%;
    
      .timestamp{
        font-size: 0.6em;
      }
    }
  
    .userTimeform {
      text-align: right;
      width: 100%;
      float:right;
  
    
      .timestamp{
        font-size: 0.6em;
      }
    }
    .avatar{
      width: 50px;
      margin-right: 20px;
      border-radius:50%;
    }
  }