<li class="list-group-item">
    <div *ngIf="!isUser" class="row">
      <div class="col-2">
        <img [src]="message.avatar" class="avatar"/>
      </div>
  
      <div class="col-10">
        <div class="botMessage">
          {{message.content}}
        </div>
        <div class="botTimeform">
            <span class="timestamp">{{message.timestamp | date : 'MMM dd h:mm a' }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="isUser" class="row">
  
  
      <div class="col-10">
        <div class="userMessage">
          {{message.content}}
        </div>
        <div class="userTimeform">
            <span class="timestamp">{{message.timestamp | date : 'MMM dd h:mm a' }}</span>
        </div>
      </div>
      <div class="col-2">
        <img [src]="message.avatar" class="avatar"/>
      </div>
    </div>
  </li>