<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">
    <ul>
      <button mat-flat-button (click)="drawer.toggle()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button mat-flat-button (click)= "navScroll('about')"
        *ngFor="let btn of navButtons">
        {{btn}}
      </button>
    </ul>
  </mat-drawer>
  <mat-drawer-content>
    <div id="greeting">
      <app-greeting></app-greeting>
    </div>
    <div id="about">
      <app-about-me></app-about-me>
    </div>
    <div id="journey">
      <app-journey></app-journey>
    </div>
    <button class="menu-btn" mat-flat-button (click)="drawer.toggle()">
      <mat-icon >menu</mat-icon>  
    </button>
  </mat-drawer-content>
</mat-drawer-container>


