
::ng-deep app-navigation{
  $break-small: 320px;
  $break-large: 768px;

mat-drawer-container{
button{
  text-align: center;

}
button:hover{
  background-color:darkgray;
}
height:100%;

.menu-btn{
  height:60px;
  top:5%;
  left:3%;
  position: fixed;
  background-color:lightgray;
  
  .mat-icon{
    font-size: 40px;
    width:40px;
    height:40px;
  }


}
  .mat-drawer{
  height:100%;
  width:400px;
  ul{
    button{
      font-size:18px;
      width:100%;
      height:50px;
      text-align: start;
    }
    
  }

}
.mat-drawer-content{
  #greeting{
    height:852px;
    padding:0px;
    background: linear-gradient(135deg, black 0%, darkgray 75%, white 100%);

    @media (max-width: $break-large){
display:none;      
    }
      .firstLine{
        margin:auto;
        position: absolute;
        top:10%;
        left:3%;
        font-family:arial;
        font-size:250px;
        color:white;
      }
      .secondLine{
        margin:auto;
        position: absolute;
        top:30%;
        left:3%;
        font-family:arial;
        font-size:250px;
        color:white;
      }
      .thirdLine{
        margin:auto;
        position: absolute;
        top:70%;
        left:3%;
        font-family:arial;
        font-size:40px;
        color:white;
      }
    }
    #about{
      

  
   
      .title{
        padding-top:20px;
        padding-bottom:20px;
        font-size: 50px;
        text-align: center;
      }
    
    

      .myBio{
        padding-bottom:20px;
        width:100%;
        display: flex;

        .body{
          font-size: 18px;
          width:50%;
          
          @media (max-width: $break-large){
            width:100%;   
                }
        }
      
    

     

      .myPhoto{
        margin:20px;
        width:50%;
        @media (max-width: $break-large){
          display: none;
          width:0%;   
              }
        img{
          width:100%;
        }
      }
    }
    }
  

    
    #journey{

      background-color: white;
        
        .title{
          padding-top:20px;
          padding-bottom:20px;
          font-size: 50px;
          text-align: center;
        }
.exp{
  text-align: center;
  margin-top:15px;
  margin-bottom:15px;
  justify-content: center;
  .row{
    .col-md-4{
      .cardImg{
        display: flex;
        align-items:center;
        justify-content: center;
        margin-left:30%;
        border-radius: 10%;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        height:200px;
        width:220px;
        img{
          max-width: 150px;
        }
        @media (max-width: $break-large){
          display:none;      
              }
      }
    }
    .col-md-8{
      .mat-card{
        text-align: left;
        width:80%;
        box-shadow: none;
        .mat-card-header{
        .mat-card-header-text{
        margin:0px;
        width:80%;
        .mat-card-title{
          font-size: 24px;
          color:#37c;
        }
        .myPosition{
          color:#5e9516;
          font-size:18px;
        }
        .myLocation{
          font-size:18px;
        }
        
        }
        
      }
      }
    }
  }
           
          }
          
        }


}


}
}


