<div id="contacts">
    <div class="title container">
      <p class="titleContent">
        <strong>
          I enjoy catch ups with great minds.
        </strong>
      </p>
    </div>
    <div class="subtitle container">
      <p>
        Let's get in touch. 
        <a target="_blank" href="https://www.linkedin.com/in/normanyan">LinkedIn</a>  messages work best.
      </p>
    </div>
    <div class="logo container">
      <a target="_blank" href="https://www.linkedin.com/in/normanyan">
        <img src="../../assets/images/logo_linkedin.png" width="302">
      </a>
    </div>
  </div>