<div id="about">
    <div class="title container">
      <p class="titleContent">
        <strong>About</strong>
      </p>
    </div>

    <div class="myBio container">

      
      <br>
      <div class="body container">
          Hi, I’m Norman.

      <br>
      <br>
          I'm a data scientist working in Westpac Bank. I create lots of cool stuffs to make our bankers and customers lives easier. 
      <br>
      <br>    
          I love my job so much as it's different everyday and gives me opportunities to create magical moments for people.
      <br>
      <br>
          I have worked on many different roles in my past, I have worked as an investment banker specialised in IPO deals, worked as a financial analyst who looks after a public company's pricing model and annual budget. 
      <br>
      <br>
          I was also deeply interested in quantitative trading which led me to create my own trading system and obtained my CFA designation. 
      <br>
      <br>    
          I enjoy explaining complex data science concepts to people and have taken a part-time teaching assistant role in Sydney Uni last sememster.
      <br>
      <br>
          Last but not least, I am also working hard on my research degree which I hope to finish in the next few years.
      <br>
      <br>
          Data science is the superpower of modern time and I'm super thankful that I had the chance to do things I love.
      

      </div>
</div>
</div>   