<div id="contacts">
    <div class="title container">
      <p class="titleContent">
        <strong>
          I'm Sydney-based,
          <br>
          life-long humble ML Learner,
          <br>
          and enjoy catch ups with great minds.
        </strong>
      </p>
    </div>
    <div class="subtitle container">
      <p>
        Let's get in touch. 
        <a target="_blank" href="https://www.linkedin.com/in/normanyan">LinkedIn</a> 
        or 
        <a target="_blank" href="https://www.facebook.com/norman.yan.77">Facebook</a> messages work best.
      </p>
    </div>
    <div class="logo container">
      <a target="_blank" href="https://www.linkedin.com/in/normanyan">
        <img src="../../assets/images/logo_linkedin.png" width="300">
      </a>
      <a target="_blank" href="https://www.facebook.com/norman.yan.77">
        <img src="../../assets/images/logo_facebook.png" width="300">
      </a>
    </div>
  </div>